/* SVG Text */
#svgtext {
	width: 80%;
	height: 100%;
	pointer-events: none;
}

#svgtext text {
	text-anchor: middle;
	pointer-events: auto;
	font-family: "helvetica", sans-serif;
	font-size: 220px; font-size: 22rem;

	transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}
